name: Updating CHANGELOG.md

on:
  push:
    branches:
      - develop

jobs:
  update-changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14'
      - name: Install dependencies
        run: npm install
      - name: Updating CHANGELOG
        run: npm run changelog
      - uses: EndBug/add-and-commit@v5
        with:
          add: 'CHANGELOG.md'
          branch: develop
          message: 'Update CHANGELOG.md file'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
